ul {
    list-style: none;
    padding: 50px;
}

li {
    padding: 20px;
    margin: 20px 100px;
    border-radius: 30px;
    border: solid 1px black;
}

li p.name {
    font-weight: 700;
    font-size: 1.3em;
    color: #4a4aff95;
}

li p.description {
    font-weight: 300;
    font-size: 1.1em;
}

@media (max-width: 768px) {
    li {
        margin: 20px 20px;
    }
}

li a {
    text-decoration:none; 
    color: inherit;
}

li:hover {
    background-color: rgb(221, 221, 221);
}
