* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
    height: 150px;
    background-color: rgb(74, 74, 255);
}

nav h1 {
    font-weight: 300;
    font-size: 2.5em;
    color: white;
}